$sidebar-color: #E07050;
$font-color:#073453;

.pagination{
text-align: center;
cursor: pointer;
}

.prevButton,
.nextButton{
  background-color: $sidebar-color;
  color: white;
  margin-left: 0.4rem;
  padding: 4px;
  border: 1px solid $sidebar-color;
  border-radius: 4px;
}

.pageItem{
  display: inline-block;  
  background-color: $sidebar-color;
  color: white;
  margin-left: 0.4rem;
  padding: 4px;
  border: 1px solid $sidebar-color;
  border-radius: 4px;
}

.activeState{
  color: $font-color;
  background-color: white;
}
