$icon-color: #ee9796;
$bg-color: white;
$grey-color: grey;
$sidebar-color: #E07050;
$white-color: whitesmoke;
$font-color:#073453;

.main_body{
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 70rem;
  margin: auto;
}

#second_section{
  display: inline-block;
  width: 95%;
  margin-left: 2rem;
}

#second_section .top-menu{
  width: 100%;

  & h2{
    margin-left: 2rem;
  }
}

.avtarStyle{
  float: right;
  margin: 0.2rem 0.5rem 0 0;
}

@media (min-width:1024px) and (max-width:1279px){

  .main_body{
      display: grid;
  }
  }