.toggle-button{
  display: none;
}
@media (max-width:771px){

     .SideNav{
      display: none;
    } 
  
    .main_body {
      display: grid;
      grid-template-columns: 100%;
    }

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__line {
    width: 30px;
    height: 3px;
    background: #a8a5a5;
  }
}
@media(min-width:770px){
  .toggle-button{
    display:none;
  }
}