$icon-color: #ee9796;

.containerStyles {
  height: 20px;
  width: 90%;
  background-color: #e0e0de;
  margin: 1rem 0 1rem 0;
}

.fillerStyles{
  height: 100%;
  width: 36%;
  background-color: $icon-color;
}

