#share-details-n {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 6rem 0 0 6rem;
}
#second_section p {
    font-size: 22px;
    color: #073453;
    font-family: 'Open Sans', sans-serif;
}
#share-details-n p {
    margin-top: 3.4rem;
    font-size: 18px !important;
}
#share-details-n input {
    padding: 0.8rem;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 20rem;
    border: #E07050 3px solid;
    border-radius: 1rem;
}
.btn01 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 5rem 0 0 1rem;
    padding: 1rem;
    width: 12rem;
    background-color: #E07050;
    color: white;
    font-size: 16px;
    border-radius: 1rem;
}
.btn02 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 5rem 0 0 8rem;
    padding: 1rem;
    width: 12rem;
    background-color: #E07050;
    color: white;
    font-size: 16px;
    border-radius: 1rem;
}
