.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    height:55%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 35%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }
  
  .btn-continue {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 5rem 0 0 1rem;
    padding: 1rem;
    width: 12rem;
    background-color: #E07050;
    color: white;
    font-size: 16px;
    border-radius: 1rem; }
    
  .btn-cancel {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 5rem 0 0 1rem;
    padding: 1rem;
    width: 12rem;
    background-color: #E07050;
    color: white;
    font-size: 16px;
    border-radius: 1rem; }
  .Dh2 {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      padding-top: 0.3rem;
      color: #073453; }
  .Dh3 {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      padding-top: 2rem;
      color: #073453; }
  .content{
        font-size: 18px !important;
        text-align: center; }
  .btn-c {
      margin: 3rem 0 2rem 6.8rem; }
  .btn-d {
       margin: 3rem 0 2rem 2.8rem;
         }
        
         .popup-n .head {
          font-family: 'Open Sans', sans-serif;
          text-align: center;
          margin-left: 0 !important;
          margin-bottom: 1rem;
          width:100%;
          color: #073453; }

          .popup-n .content label {
            font-size: 16px !important;
            //margin-left: 6rem;
            font-size: 22px;
            color: #073453; }

            .popup-n .content input{
              font-size: 18px;
              padding: 0.8rem;
              margin-top: 0.5rem;
              margin-left: 1rem;
              width: 25rem;
              color: black;
              border-radius: 0.5rem;
              background-color: #EE9796; }
              .popup-n .content label .describe {
                float: left;
                margin-left: 1rem;
                }
                .popup-n .content #name {
                  padding: 0.3rem;
                  // margin-left: 5rem;
                  width: 25rem; }

              .popup-n .content #url {
                  padding: 0.3rem;
                  width: 25rem;
                  // margin-left: 5.9rem; 
                }
                .popup-n .content #desc {
                  width: 25rem;
                  // margin-left: 2.7rem;
                  margin-top: 1rem; }

                  .popup-n .content #btns {
                    display: inline;
                 }

                    .popup-n .content #btns #btn03 {
                        font-weight: 600;
                        font-family: 'Open Sans', sans-serif;
                        padding: 1rem;
                        width: 12rem;
                        background-color: #E07050;
                        color: white;
                        font-size: 16px;
                        border-radius: 1rem;
                     }
                    .popup-n .content #btns #btn04 {
                      float: left;
                      margin: 3rem 0 2rem 5rem; }

                      .popup-n .content {
                        max-height: 20%;
                        // overflow: auto; 
                      }
                      .btn-cont{
                        margin-top:0 !important;
                      }