.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(253, 1, 1);
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  color: #073453;
}

label{
  font-family: 'Open Sans', sans-serif;
  margin-left: 0;
  color: #073453;
}
#name01 {
  font-size: 1rem;
  color: #073453;
  padding: 1rem;
  margin-left: 0.5rem;
  width: 25rem;
  border-radius: 0.5rem;
  background-color: #ee9796;
}
#btns button {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 0.6rem;
  margin: 2rem 3rem 2rem auto;
  background-color: #E07050;
  color: whitesmoke;
  border-radius: 1rem;
  width: 10rem;
  border: 1px solid black;
}


