$font-color:#073453;      
$icon-color: #ee9796;

.TrashIcon{
  color:$icon-color;
  margin-left:3rem;
}
.UndoIcon{
    color:$icon-color;
    margin-left:1.5rem; 
}
.file_name_t{
    padding-left:2.5rem;
}
.created_t{
    padding-left:2.5rem;

}
.deleted_t{
    padding-left:2.5rem;
}
th#action-trash {
    border-right: 1px solid #073453;
    border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;

}
#label{
    cursor:pointer;
}
#option{
    cursor:pointer;

}