$sidebar-color: #E07050;
$font-color:#073453;
$white-color: white;

.pdf-preview {
    display: inline-block;
    position: absolute;
    // z-index:200;
    width: 30%;
    height: auto;
    margin-left: 30rem;
    padding: 2rem 2rem 3.4rem 3.6rem;
    background-color: $sidebar-color;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    list-style: none;
    -webkit-font-smoothing: antialiased; 
    transform: translateX(-100%);
    transition: transform 0.3s ease-out ;
    
    & a{
        text-decoration: none;
      }

    & button{
        background-color: $sidebar-color;
        color: $font-color;
        font-weight: bold;
    }
}

#second_section .details-p p{
    font-size: 15px;
}

.pdf-preview.open{
    transform:translateX(0);
}
    .actions{
        border-left: 2px;
    }

    .time{
        border-right: none; 
    }
