$sidebar-color: #E07050;
$font-color:#073453;
$white-color: white;
.Side-drawer {
    position: fixed;
    z-index:200;
    width: 50%;
    height:890px;
    margin: -60px 0 0 -85px;
    padding: 5.6rem 5.6rem 11.4rem 5.6rem;
    background-color: $sidebar-color;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    list-style: none;
    -webkit-font-smoothing: antialiased; 
    transform: translateX(-100%);
    transition: transform 0.3s ease-out ;
    & a{
        text-decoration: none;
      }
    
    & li{   
        padding-top: 2rem;
        font-size: 16px;
        text-decoration: none;

        & p{
            color: $white-color;
            display: inline;
            font-size: 16px;
            margin-left: 2rem;
        }
    }
}

.Side-drawer.open{
    transform:translateX(0);
}

@media(min-width:770px){
    .Side-drawer{
        display:none;
    }
}

