.icons {
  display: flex;
  margin-left: 1rem;
  margin-top: 8%;
  width: 95%;
  height: 4rem;
  border: 1px solid #073453;
  border-radius: 1rem;
  justify-content: space-evenly;
  align-items: center;
}