.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    height:45%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 35%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }
  .confirm{
  color: black;
  padding-top:2rem;
  display:inline-block;
  
  }