$font-color:#073453;

// .container{
//   display: inline-block;
//   margin-top: 1rem;
// }

// // h2{
// //   float: left;
// //   margin: 1rem 0.2rem 0 0.5rem;
// //   color: $font-color;
// // }

// .sc-htpNat {
//   width: 12rem;
//   border: 2px solid $font-color;  
//   border-radius: 0.5rem;
//   padding: 0.2rem;
//   float: right;
//   margin: 0 0 0 1rem;
//   z-index: 2;
// }  

// @media (min-width:1366px) {
//   .sc-htpNat {
//     width: 20rem;
//   }
// }

.searchBox{
	margin-top: 1.4rem;
	margin-left: 1rem;
	position: relative;
	border: 2px solid $font-color;  
	border-radius: 0.5rem;
	padding: 0.2rem;
}
.menu-container{
	z-index: 500;
	background-color: #E07050;
	position: absolute;
	// overflow-y: scroll;
	overflow-x: hidden;
	min-width:11rem;
	max-width: 11rem;
	max-height:50%;
	margin-left:17.8rem;
}
.menu {
	background-color: white;
	position: absolute;
	z-index: 500;	
}
.search-item{
	cursor: context-menu;
  }