
  html, body {
    max-width: 1280px;
    margin: 0 auto !important;
    float: none !important;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  
  *, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
    color: black;
  }